.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 27px !important; }
.nav-glyphish-example .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	margin-top: -5px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; }
		
#chart .ui-icon { 
    background: url('../images/chart.png') 50% 50% no-repeat; background-size: 29px 24px;
	
}

#search .ui-icon { 
    background: url('../images/search.png') 50% 50% no-repeat; background-size: 24px 24px;
}

#history .ui-icon { 
    background: url('../images/history.png') 50% 50% no-repeat; background-size: 22px 26px;
}

#browser .ui-icon { 
    background: url('../images/browser.png') 50% 50% no-repeat; background-size: 29px 18px;
}

#about .ui-icon { 
    background: url('../images/about.png') 50% 50% no-repeat; background-size: 24px 17px;
}
