#container {
	width: 320px;
	height: 480px;
	background-color: #c5c4c4;
}
#head {
	height:55px;
}
#center {
	margin-left:auto;
	margin-right:auto;
	width: 300px;
}
#chartarea {
	width: 300px;
	height: 350px;
}
#basic {
}
a.foot {
	background-image: none;
	color: #0F6;
}
p {
	font: 13px Verdana, Geneva, sans-serif;
	text-align: left;
}
.logo {
	width: 100px;
}
#home {
	margin-left: 10px;
}
}
.ui-icon-house {
	background-image: url("images/icons/53-house.png");
}
li.textcontent {
	background: white;
}
.ui-icon-myapp-settings {
	background: url("images/people18.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-grid-a .ui-block-a {
	width: 25%
}
.ui-grid-a .ui-block-b {
	width: 75%;
}
